.instructions{
	padding: 10px 0px;

}

.instructions--personal-notes{
	.glyphicon{
		color: blue;
	}
}
.instructions--slide-notes{
	.glyphicon{
		color: orange;
	}
}
.instructions--main-menu{
	.glyphicon{
		color: green;
	}
}